# flyctl launch added from .gitignore
out
resources
resources/public/js/compiled
*-init.clj
*.log

# Leiningen
.lein-*
.nrepl-port

# Node.js dependencies
node_modules

# shadow-cljs cache, port files
.shadow-cljs

# clj-kondo cache and configs from libs
.clj-kondo/*

# clj-kondo config
!.clj-kondo/config.edn

# clojure-lsp cache
.lsp/.cache

**/.idea
**/*.iml

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
fly.toml
