{"warrior" #{"BattlebornCrusader"
             "IroncladChampion"
             "WarboundReaver"
             "BlazingSwordMaster"
             "UnstoppableMarauder"
             "TitanBaneWarrior"
             "StormfrontGuardian"
             "RagingBerserker"
             "CelestialGladiator"
             "DreadnaughtSlayer"
             "EternalVanguard"
             "RiftWalkerWarrior"
             "SteelHeartKnight"
             "DragonFistBrawler"
             "FearlessProtector"
             "SunderingBlade"
             "ThunderousWarlord"
             "VengeanceSeeker"
             "WhirlwindCrusader"
             "BloodiedSwordsman"
             "ValorousKnight"
             "IronFistWarrior"
             "BladeTornado"
             "BerserkerFury"
             "WardenOfBattle"
             "WarpathConqueror"
             "TitaniumSentinel"
             "MythicSwordBearer"
             "InfernoWarrior"
             "TempestuousFighter"
             "GloriousDefender"
             "BraveheartWarrior"
             "CataclysmicChampion"
             "StoneWallKnight"
             "RuneEtchedWarrior"
             "SovereignSwordsman"
             "IndomitableCrusader"
             "WarriorOfEternity"
             "BaneOfTitans"
             "BattleMaster"}

 "priest" #{"CelestialHealer"
            "DivineMender"
            "LightbringerPriest"
            "HolySpiritWarden"
            "SeraphicGuardian"
            "SacredSoulBinder"
            "SpiritWhisperer"
            "AegisOfFaith"
            "LuminescentOracle"
            "EthericMedic"
            "RedeemerOfSouls"
            "TranquilRestorer"
            "MysticPrayercaster"
            "HallowedBeacon"
            "PuritysChampion"
            "SpiritGuidePriest"
            "CelestialSentinel"
            "RadiantEmpath"
            "RejuvenatingCleric"
            "GuardianOfGrace"
            "DivineLightbringer"
            "SerenitySage"
            "CelestialCherub"
            "EternalHarbinger"
            "HealingOasis"
            "VirtuousCleric"
            "LightWardenPriest"
            "SacredSpiritCaller"
            "AscendedHealer"
            "BeaconOfPurity"
            "LuminaryMedic"
            "RestorativeSage"
            "SolarGraceCleric"
            "AstralSpiritPriest"
            "DivinePreserver"
            "HeavenlyEmissary"
            "BenevolentOracle"
            "SanctifiedHealer"
            "ExaltedRedeemer"
            "LightOfMercyPriest"}

 "mage" #{"ArcaneSorcerer"
          "ElementalAdept"
          "MysticSpellweaver"
          "EtherealInvoker"
          "StormChaserMage"
          "PyromancerSupreme"
          "FrostbornEnchanter"
          "ShadowCasterMage"
          "ChronoWarpWizard"
          "CelestialArchmage"
          "RuneScribeSorceress"
          "EmberSpiritMage"
          "LeylineConjurer"
          "TwilightIllusionist"
          "AetherialManipulator"
          "EldritchSpellbinder"
          "Nethermancer"
          "FluxWardenMage"
          "ArcaneEmissary"
          "NovaPulseWizard"
          "ArcaneProdigy"
          "FrostfireMagus"
          "AstralMancer"
          "MysticElementalist"
          "EldritchSpellweaver"
          "TimeWarpMage"
          "ForbiddenSorcery"
          "NebulaConjurer"
          "AstralFireWizard"
          "ManaSurgeSorcerer"
          "QuantumCaster"
          "PlanarSpellbinder"
          "RiftwalkerMage"
          "StarlitSorceress"
          "FathomlessEnchanter"
          "CelestialWitch"
          "LunarMysticMage"
          "DimensionalAdept"
          "VoidSeerWizard"
          "ChronoMageMaster"}

 "asas" #{"ShadowStalkerAsas"
          "SilentBladeMaster"
          "DeadlyNightshade"
          "WhisperingVenom"
          "UnseenExecutioner"
          "PhantomSlayerAsas"
          "EbonHeartAssassin"
          "LethalWhisper"
          "CrimsonShadowAsas"
          "MysticBladeDancer"
          "SerpentFangAsas"
          "VeilPiercer"
          "CloakedViper"
          "NightfallStriker"
          "DeathmarkAssassin"
          "ShadowstepReaper"
          "UmbralInfiltrator"
          "AbyssalStalker"
          "GhostBladeAsas"
          "DuskwalkerEliminator"
          "ShadowPhantomAsas"
          "VenomousInfiltrator"
          "SilentSerpent"
          "DarknessEmbraced"
          "GhostlySpecterAsas"
          "EclipseStalker"
          "AbyssalSilencer"
          "WraithWalker"
          "NocturnalSlayer"
          "CrimsonFadeAsas"
          "CovertNightblade"
          "UmbralRevenant"
          "ShadowflameAsas"
          "LethalMirage"
          "VeiledAvenger"
          "ObsidianAssassin"
          "WhisperingDeath"
          "EbonStriker"
          "MoonlitEliminator"
          "ShadowheartAsas"}
 }
